body{
    background-color: #000;

}

body.bg_filmes{
    background-image: url("../assets/background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

header{
    
    padding: 5px;
    background: linear-gradient(
        180deg,
        rgba(0,0,0,0.69)0%,
        rgba(0,0,0,0)100%
    );
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 2;
}
header img{
    width: 200px;
    
}
#caixa_login{
    background: rgba(0,0,0,0.7);
    padding: 30px;
    border-radius: 10px;
}


.menu_list{
    list-style: nome;
    padding-left: 5%;
    padding-top:  100px;
}

.menu_list li{
    display: inline-block;
    margin-left: 15px;

}

.menu_list li a{
    color: #fff;
} 

#hero{
    height: 700px;
    background-image: url(/web/assets/15560338625cbf314652022_1556033862_3x2_md.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: 1;
    top: 0;
}
#hero img{
    
    
    max-width:300px;
    width: auto;
    top: 10px;
    margin-top: 25%;
}





#hero_infos h1{
    margin-bottom: 10px;
}

.btn-outline-dark{
    background-color: rgba(138, 135, 135, 0.7);
}